.box-layout {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box-layout__box {

    text-align: center;
    width: 25rem;
    padding: $l-size;
  
}

.box-layout__title {

    margin: 0 0 $m-size 0;
    line-height: 1;
    
}