.canvas-color-picker-container {
    display: flex;
    flex-direction: column;
    @include basic-box-shadow-inset;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;


        
    }
}

.dashboard>.content-container{
    background-color: $computer-grey;
    @include basic-box-shadow
}