.data-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.data-display>div>p{
    margin: 0;
}

.data-display-text{
    font-size: $m-size;
}

.data-display-text {
    background-color: black;
    color: red;
    width: 100%;
    white-space:nowrap;
    padding: .1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.dashboard-item{
    @include better-computer-borders;
    background-color: $computer-light-grey;
    display: flex;
    flex-direction: column;
    max-width: 9em;
    &:nth-child(2){
        width: 10em;
        max-width: 10em;
    }
 

    @media (min-width: $desktop-breakpoint) {
        width: 10em;
      flex-direction: row;
      padding: .1em;

      &:nth-child(2){
        width: 12em;
        max-width: 12em;
    }

        
    }
}

.low-ink-class {
    background-color: $windows-red;
}
