.layout {
    background-color: $computer-grey;
    @include better-computer-borders;
    padding: 0;
    margin: 0 auto;
    @media (min-width: $desktop-breakpoint) {
        max-width: 60rem;
        width: fit-content;
        
    }
}

.layout>.content-container{
    padding: 0;
}

