.whole-page-wrapper {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 auto;
        padding: $s-size;
        width: 100%;
        max-width: 80rem;
        flex-direction: row;

        
    }
}