// Colors
$dark-gray: #333;
$gray: #666;
$computer-light-grey: #e1e1e1;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f5f5f5;
$computer-grey: #d4d0c8;
$windows-blue: #0a246a;
$windows-teal: #008282;
$windows-blue-2: #000082;
$windows-red: #fa5252;//#f04e1f;
$windows-off-white: #fffccd;

//Font-Size

$font-size-large: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

@mixin micro-background {
  background: conic-gradient(
      from 45deg,
      #020681 0,
      #020681 90deg,
      #000337 90deg,
      #000337 180deg,
      #0818ff 180deg,
      #0818ff 270deg,
      #0f9bfe 270deg,
      #0f9bfe 360deg
    );
    background-size: 1em 1em;
    height: 100vh;
}


@mixin basic-box-shadow {
  box-shadow:rgba(0,0,0,0.4) 2px 2px 0, white -1px -1px 0px;

}
@mixin basic-box-shadow-inset {
  box-shadow:rgba(0,0,0,0.4) 2px 2px 0  inset, white -1px -1px 0px inset;
}

@mixin better-computer-borders {

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #858585;
  border-bottom: 2px solid #858585;

 
}

@font-face {
  font-family: 'sysfont';
  src: local('systfont'), url(../../assets/fonts/sysfont.woff) format('woff');

}
@font-face {
  font-family: 'win95';
  src: local('win95'), url(../../assets/fonts/w95fa.woff) format('woff');

}

